In [1]:
import pandas as pd;
import numpy as np;

In [45]:
td=pd.read_csv('task2.csv')

In [46]:
td.head()

,ID,Segment type,Segment Description,Answer,Count,Percentage,It became a relationship
0,292890.8970,web,"Meridian, Idaho",No,0.000000,0.000000,0
1,292887.9870,web,"Meridian, Idaho",No,0.000000,0.000000,0
2,292894.0656,gender,"Meridian, Idaho",No,499.173606,0.225255,0
3,292887.1180,web,"Meridian, Idaho",No,0.000000,0.000000,0
4,292893.6561,gender,"Meridian, Idaho",No,455.925963,0.211360,0

In [47]:
td

,ID,Segment type,Segment Description,Answer,Count,Percentage,It became a relationship
0,292890.8970,web,"Meridian, Idaho",No,0.000000,0.000000,0
1,292887.9870,web,"Meridian, Idaho",No,0.000000,0.000000,0
2,292894.0656,gender,"Meridian, Idaho",No,499.173606,0.225255,0
3,292887.1180,web,"Meridian, Idaho",No,0.000000,0.000000,0
4,292893.6561,gender,"Meridian, Idaho",No,455.925963,0.211360,0
...,...,...,...,...,...,...,...
1891,292887.5496,web,"Meridian, Idaho",No,0.000000,0.000000,0
1892,292881.6932,mobile,"Meridian, Idaho",No,1203.190399,0.312360,0
1893,292900.8499,gender,"Meridian, Idaho",No,806.378820,0.488025,0
1894,292893.8600,gender,"Meridian, Idaho",No,1149.529381,0.488984,0
1895,292890.2944,web,"Meridian, Idaho",No,0.000000,0.000000,0

In [48]:
col=['ID','seg_type','seg_desc','ans','c','per','bin_is_rel']
td.columns=col

In [49]:
td.head()

            ID seg_type         seg_desc ans           c       per  bin_is_rel
0  292890.8970      web  Meridian, Idaho  No    0.000000  0.000000           0
1  292887.9870      web  Meridian, Idaho  No    0.000000  0.000000           0
2  292894.0656   gender  Meridian, Idaho  No  499.173606  0.225255           0
3  292887.1180      web  Meridian, Idaho  No    0.000000  0.000000           0
4  292893.6561   gender  Meridian, Idaho  No  455.925963  0.211360           0

In [50]:
td[31:70]

,ID,seg_type,seg_desc,ans,c,per,bin_is_rel
31,293019.1113,university,Wesleyan University,I don't use Tinder,26.120292,0.279898,1
32,292900.0206,gender,"Meridian, Idaho",No,544.801209,0.287192,0
33,293655.4053,university,University of Delaware,No,4.900333,0.500000,1
34,292887.1403,web,"Meridian, Idaho",No,0.000000,0.000000,0
35,293575.0000,university,Ohio University,I don't use Tinder,0.000000,0.000000,0
36,292902.8277,gender,"Meridian, Idaho",No,507.774198,0.309961,0
37,293272.2777,university,"University of California, Santa Cruz",Yes,4.361147,0.323162,1
38,292902.0408,gender,"Meridian, Idaho",No,525.272291,0.306047,0
39,292886.4858,mobile,"Meridian, Idaho",No,796.207131,0.283133,1
40,293045.0000,university,University of Colorado Boulder,No,3.000000,0.500000,0
41,292900.8929,gender,"Meridian, Idaho",No,415.385149,0.253367,0
42,292890.6365,web,"Meridian, Idaho",No,0.000000,0.000000,0
43,293413.0000,university,Rochester Institute of Technology,I don't use Tinder,0.000000,0.000000,1
44,292888.1764,mobile,"Meridian, Idaho",No,795.962790,0.306595,1
45,293661.0000,university,Morehead State University,Yes,0.000000,0.000000,0
46,292900.2625,gender,"Meridian, Idaho",No,755.887141,0.444965,0
47,293337.0000,university,University of Georgia,Yes,1.000000,0.091000,0
48,292893.6373,gender,"Meridian, Idaho",No,1145.138425,0.481360,0
49,292893.5329,mobile,"Meridian, Idaho",No,934.078241,0.390626,1
50,292887.9146,web,"Meridian, Idaho",No,0.000000,0.000000,0
51,292985.0000,university,Southern Methodist University,No,4.000000,0.444000,1
52,292889.6677,web,"Meridian, Idaho",No,0.000000,0.000000,0
53,293051.7644,university,University of Miami,I don't use Tinder,1.592051,0.979973,1
54,292890.9328,web,"Meridian, Idaho",No,0.000000,0.000000,0
55,292898.3090,mobile,"Meridian, Idaho",No,794.498323,0.447217,1
56,292901.2682,gender,"Meridian, Idaho",No,508.380265,0.297336,0
57,293259.0000,university,University of Arizona,Yes,4.000000,0.364000,0
58,292897.3746,gender,"Meridian, Idaho",No,594.883007,0.280351,0
59,292897.6010,gender,"Meridian, Idaho",No,359.276541,0.201498,0
60,292884.2985,mobile,"Meridian, Idaho",No,1038.615984,0.269672,1
61,292898.2679,gender,"Meridian, Idaho",No,967.757241,0.505669,0
62,293473.0000,university,Sacred Heart University,I don't use Tinder,0.000000,0.000000,1
63,292888.2004,web,"Meridian, Idaho",No,0.000000,0.000000,0
64,293219.0000,university,Northern Illinois University,No,1.000000,0.500000,0
65,292889.4867,web,"Meridian, Idaho",No,0.000000,0.000000,0
66,292893.2992,gender,"Meridian, Idaho",No,473.316563,0.216052,0
67,292899.5927,gender,"Meridian, Idaho",No,501.007786,0.280245,0
68,293175.5149,university,Yale University,I don't use Tinder,1.187603,0.017465,1
69,292884.8442,mobile,"Meridian, Idaho",No,1158.464025,0.300759,0

In [51]:
td['ans']=td['ans'].replace("I don't use Tinder",'No')

In [52]:
td[31:70]

,ID,seg_type,seg_desc,ans,c,per,bin_is_rel
31,293019.1113,university,Wesleyan University,No,26.120292,0.279898,1
32,292900.0206,gender,"Meridian, Idaho",No,544.801209,0.287192,0
33,293655.4053,university,University of Delaware,No,4.900333,0.500000,1
34,292887.1403,web,"Meridian, Idaho",No,0.000000,0.000000,0
35,293575.0000,university,Ohio University,No,0.000000,0.000000,0
36,292902.8277,gender,"Meridian, Idaho",No,507.774198,0.309961,0
37,293272.2777,university,"University of California, Santa Cruz",Yes,4.361147,0.323162,1
38,292902.0408,gender,"Meridian, Idaho",No,525.272291,0.306047,0
39,292886.4858,mobile,"Meridian, Idaho",No,796.207131,0.283133,1
40,293045.0000,university,University of Colorado Boulder,No,3.000000,0.500000,0
41,292900.8929,gender,"Meridian, Idaho",No,415.385149,0.253367,0
42,292890.6365,web,"Meridian, Idaho",No,0.000000,0.000000,0
43,293413.0000,university,Rochester Institute of Technology,No,0.000000,0.000000,1
44,292888.1764,mobile,"Meridian, Idaho",No,795.962790,0.306595,1
45,293661.0000,university,Morehead State University,Yes,0.000000,0.000000,0
46,292900.2625,gender,"Meridian, Idaho",No,755.887141,0.444965,0
47,293337.0000,university,University of Georgia,Yes,1.000000,0.091000,0
48,292893.6373,gender,"Meridian, Idaho",No,1145.138425,0.481360,0
49,292893.5329,mobile,"Meridian, Idaho",No,934.078241,0.390626,1
50,292887.9146,web,"Meridian, Idaho",No,0.000000,0.000000,0
51,292985.0000,university,Southern Methodist University,No,4.000000,0.444000,1
52,292889.6677,web,"Meridian, Idaho",No,0.000000,0.000000,0
53,293051.7644,university,University of Miami,No,1.592051,0.979973,1
54,292890.9328,web,"Meridian, Idaho",No,0.000000,0.000000,0
55,292898.3090,mobile,"Meridian, Idaho",No,794.498323,0.447217,1
56,292901.2682,gender,"Meridian, Idaho",No,508.380265,0.297336,0
57,293259.0000,university,University of Arizona,Yes,4.000000,0.364000,0
58,292897.3746,gender,"Meridian, Idaho",No,594.883007,0.280351,0
59,292897.6010,gender,"Meridian, Idaho",No,359.276541,0.201498,0
60,292884.2985,mobile,"Meridian, Idaho",No,1038.615984,0.269672,1
61,292898.2679,gender,"Meridian, Idaho",No,967.757241,0.505669,0
62,293473.0000,university,Sacred Heart University,No,0.000000,0.000000,1
63,292888.2004,web,"Meridian, Idaho",No,0.000000,0.000000,0
64,293219.0000,university,Northern Illinois University,No,1.000000,0.500000,0
65,292889.4867,web,"Meridian, Idaho",No,0.000000,0.000000,0
66,292893.2992,gender,"Meridian, Idaho",No,473.316563,0.216052,0
67,292899.5927,gender,"Meridian, Idaho",No,501.007786,0.280245,0
68,293175.5149,university,Yale University,No,1.187603,0.017465,1
69,292884.8442,mobile,"Meridian, Idaho",No,1158.464025,0.300759,0

In [54]:
is_tinder=td.ans=='Yes'
tinder=td[is_tinder]

In [56]:
tinder

,ID,seg_type,seg_desc,ans,c,per,bin_is_rel
7,293223.0000,university,University of Iowa,Yes,1.000000,0.333000,0
19,292943.0117,university,"University of California, Davis",Yes,8.497078,0.193545,1
30,293163.0000,university,Cal Poly San Luis Obispo,Yes,8.000000,0.320000,0
37,293272.2777,university,"University of California, Santa Cruz",Yes,4.361147,0.323162,1
45,293661.0000,university,Morehead State University,Yes,0.000000,0.000000,0
...,...,...,...,...,...,...,...
1833,293739.0000,university,Old Dominion University,Yes,1.000000,1.000000,0
1841,293427.0000,university,University of St Andrews,Yes,0.000000,0.000000,0
1862,293139.0000,university,Baylor University,Yes,2.000000,0.286000,0
1881,292989.0000,university,Stanford University,Yes,13.000000,0.120000,0
1890,292887.0000,web,Web-based respondents,Yes,0.000000,0.000000,0

In [63]:
x=np.zeros((164,2))
y=np.zeros((164,1))
x[:,0]=tinder.c
x[:,1]=tinder.per
y=tinder.bin_is_rel
x
y

7       0
19      1
30      0
37      1
45      0
       ..
1833    0
1841    0
1862    0
1881    0
1890    0
Name: bin_is_rel, Length: 164, dtype: int64

In [64]:
 from sklearn.linear_model import LogisticRegression

In [67]:
 from sklearn.model_selection import train_test_split

In [86]:
import sklearn

In [68]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [71]:
classifier=LogisticRegression()
classifier.fit(X_train,y_train)

LogisticRegression()

In [72]:
classifier.predict(X_test)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

In [82]:
lin_predict=classifier.predict(X_test)

In [74]:
from sklearn.neighbors import KNeighborsClassifier

In [77]:
KNN = KNeighborsClassifier(n_neighbors=5)

In [78]:
KNN.fit(X_train, y_train)

KNeighborsClassifier()

In [80]:
KNN.predict(X_test)

array([1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1], dtype=int64)

In [81]:
K_predict=KNN.predict(X_test)

In [88]:
sklearn.metrics.accuracy_score(y_test, lin_predict)

0.5151515151515151

In [89]:
sklearn.metrics.accuracy_score(y_test, K_predict)

0.6060606060606061